<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.dao.CategoryDao">
	<select id="getCategoryInfo" parameterType="com.model.Category"
		resultType="com.model.Category">
		SELECT * FROM market_data_industry_category_info
	</select>
	<select id="getCategoryInfoMaxLength"
		resultType="java.lang.Integer">
		SELECT LENGTH(market_data_industry_category_id) 
		FROM market_data_industry_category_info ORDER BY
        LENGTH(market_data_industry_category_id) DESC LIMIT 1
	</select>
	<select id="getCategoryFirstLevel" parameterType="com.model.Category"
		resultType="com.model.Category">
		SELECT * FROM market_data_industry_category_info WHERE 
		LENGTH(market_data_industry_category_id) = 2
	</select>
	<select id="getCategorySecendLevel" parameterType="com.model.Category"
		resultType="com.model.Category">
		SELECT * FROM market_data_industry_category_info WHERE 
		LENGTH(market_data_industry_category_id) = 4 AND 
		SUBSTRING(market_data_industry_category_id,1,2) = #{id}
	</select>
</mapper>
